@import "tailwindcss";

html{
    scroll-behavior: smooth;
}
@media (max-width:720px) {
    .scroll{
        height: 20px;
        overflow: scroll;
    }
    .scroll a{
        display: flex;
    }
    
}